.banner-container {
  width: 100wh; /* Establece la altura al 100% de la ventana */
  margin: auto; /* Centra el banner y proporciona un pequeño margen */
  text-align: center;
}

.banner-container img {
  width: 100%;
}

.slick-next {
  display: none;
}

.cards-banner .slick-dots li button {
  position: relative;
  bottom: 5rem;
  border-radius: 50%;
  display: flex !important;
  align-items: center;

}
.cards-banner .slick-dots li button::before {
  color: transparent;
  border-radius: 50%;
  top: 50;
  height: 12px;
  width: 12px;
  border: #fff 2px solid;
}

@media (max-width: 768px) {
  .banner-container {
    margin: auto; /* Añade un margen superior en dispositivos más grandes */
    height: 100%;
  }

  .banner-container img {
    content: url("../assets/BannerMobile.png"); /* Cambia la imagen para dispositivos más grandes */
  }

  .cards-banner .slick-dots li button {
    bottom: 2.2rem;
    
  
  }
}
