.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 90%; /* Ancho relativo al contenedor padre */
  min-width: 246px; /* Ancho máximo */
  height: 402px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  box-sizing: border-box; /* Incluir el padding en el ancho total */
  padding: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color:#5E5E5E;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: auto;
}

.card-image {
  max-width: 100%; /* Ajusta la imagen al ancho del contenedor */
  max-height: 100%; /* Ajusta la imagen al alto del contenedor */
  margin: auto; /* Centra la imagen horizontalmente */
}
.slick-dots {
  display: none !important;
}

@media (min-width: 768px) {
  /* Media query para pantallas más grandes */
  .card {
    width: 45%; /* Porcentaje del ancho del contenedor padre */
    max-width: none; /* Eliminar el ancho máximo */
    margin: 10px 0; /* Espacio entre las tarjetas */
    padding: 30px;
  }
  .slick-dots {
    display: block;
  }
}
